@CHARSET "UTF-8";
/*显示*/
.table01{ 
	border-collapse:collapse;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px #689AC8 solid;
	border-left: 0px;
}
.td_top{
	background-image: url(../images/bg.gif);
	color:#FFFFFF;
	padding: 6px;
	height:23px;
	font-size:18px;
	border-collapse:collapse;
	border-top: 1px #98ACC3 solid;
	border-right: 0px solid;
	border-bottom: 1px #5088BA solid;
	border-left: 0px solid;
}
.td_01{
    background-color:#F7FBFF;
	color:#000000;
	padding: 5px;
	border-collapse:collapse;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px #B3CFE8 solid;
	border-left: 0px solid;
}
/**医生排班**/
#role{
	width: 100%;
	background-color:#4D95DB;
	height: 40px;
	margin-bottom: 20px;
	line-height: 40px;
}
#role_back{
	margin-top:1px;
	margin-left:5px;
	width: 80px;
	height:38px;
	background-color:white;
	float: left;
	margin-right: 20px;
}
#role_back a{
	text-align:center;
	display: block;
	width: 80px;
	font-weight: bold;
	font-size: 20px;
}
#role_name{
	margin-left:10px;
	color:white;
	width: 250px;
	float: left;
}
#role_name span{
	color:red;
}