*{font-family:"微软雅黑"}
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input:focus, textarea:focus, select:focus { outline: none; }
select, input { vertical-align: middle; }
legend { color: #000; }
.clean:before, .clean:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.clean:after, .clearfix:after { clear: both; }
.clean, .clearfix { zoom: 1; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.break { word-wrap: break-word; width: inherit; }
.linkhidden { text-indent: -9999em; overflow: hidden; }
.hidden { display: none; }
a{ text-decoration:none;}
/*reset*/

/*主要样式*/
.subNavBox{width:100%;
border:solid 1px #e5e3da;
margin:0px auto;}
.subNav{
	height:40px;
	border-bottom:solid 1px #e5e3da;
	cursor:pointer;
	font-weight:bold;
	font-size:22px;
	color:#999;
	line-height:40px;
	background:url(../images/jiantou1.jpg) no-repeat;
	background-position:95% 50%
}
.subNav:hover{color:#277fc2;}
.currentDd{color:#277fc2}
.currentDt{background-image:url(../images/jiantou.jpg);}
.navContent{display: none;border-bottom:solid 1px #e5e3da;margin: 0px;
	padding: 0px;}
.navContent li{
	margin: 0px;
	padding: 0px;
}
.navContent li a{
	display:block;
	width:100%;
	heighr:28px;
	text-align:center;
	font-size:16px;line-height:28px;color:#333}
.navContent li a:hover{color:#fff;background-color:#277fc2}
