@CHARSET "UTF-8";

#purview{
	position:absolute;
	width: 600px;
	height: 350px;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-170px;
	border : 1px #5AA5F5 solid;
	/* background-color: #5AA5F5; */
	
}
#tip{
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 100px;
}
#purview a{
	display : block;
	width:100px;
	height : 50px;
	line-height: 50px;
	background-color: #5AA5F5;
	color : white;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}
